

#flash-message {
 -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
	-webkit-animation: fadeOut 2s forwards;
	animation: fadeOut 2s forwards;
	-webkit-animation-delay: 3s;
	animation-delay: 5s;
	position: absolute;
	top: 70px;
	right: 20px;
	z-index: 10;
}
nav{
  margin-bottom: 0px!important;
  padding-top: 10px;
}
#tableMain{
  max-width: 100%!important;
}
.navbar-brand
{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}
.navbar-toggle {
  z-index:3;
}
.navbar-nav>li>a{
  height:60px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #008DB6!important;
}
a.active{
  background-color: #008DB6!important;
  color: white!important;
}
.dropdown-menu>li>a.active{
  color:white!important;
}
li:hover{
  background-color: #dddd;
  color: white;
}
.active>a{
  color: white!important;
}
a{
  text-decoration: none!important;
}
.active{
  background-color: darkgray;
  animation: in 2s ease-out forwards;
  /* animation-delay: 1s; */
}

@keyframes in{
  0%{
    letter-spacing: .5px;
  }
  30%{
    letter-spacing: 1px;
  }
  100%{
    letter-spacing: 2px;
  }
}
legend{
  margin-bottom: 2em;
  margin-top:1em;
}
#homeBtn{
  margin-left: 1em;
}
a{
  font-size: 18px;
}
img {
    max-width: 100%;
}
.row{
  margin-left: 0!important;
  margin-right: 0!important;
}
.entryBtns{
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-box;
  display: inline-flex;
}
.entryId{
  font-weight: bold;
  background-color: #337ab7;
  width: 67px;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 3px;
}
 /* table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
  left: -24px!important;
} */
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child{
  /* padding-left: 10px!important;
  padding-right: 4px!important; */
}
table.dataTable.dtr-column>tbody>tr>td.control:before, table.dataTable.dtr-column>tbody>tr>th.control:before{
  left: 123%!important;
}
.container-fluid {
   /* padding-right: 0px!important;
   padding-left: 0px!important; */
}
.navbar-default{
  /* padding-left: 1em;
  padding-right: 2em; */
}
.dataTables_filter{
  width: 50%;
}
.dataTables_length{
  width: 50%;
}
.entryId > a {
  color: white;
}
.deleteBtn{
  margin-right: 4px;
}
.dtr-data{
  text-align: right;
  display: block;
  margin-top: -18px;
}
.dtr-details{
  width: 100%;
}
td#delHead.sorting_asc:after {
    display: none;
}
@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

thead {
    font-weight: bold;
    color: #777777;

}


@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.blueBtn{
  padding: 5px 13px!important;
  border-radius: 0 !important;
}

.btn{
    border-radius: 0 !important;
}

/*To have sidebar space add 250px to last margin parameter to sb-admin-2.css*/
/*#page-wrapper {
    margin: 0 0 0 250px;
}*/

#background{
    position:absolute;
    top:33px;
    z-index: -1;
}
#bg-text
{
    color:lightgrey;
    opacity: .15;
    font-size:120px;
    font-weight: bold;
}
a{
  z-index: 10;
}
div.popover{
  width: 300px!important;
}
html{
  width:100%;
}
/* iPad Mini*/
/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

#tableMain_length{
    float: right;
    padding-left: 64px;
    margin-right: -140px;
  }
#tableMain_filter{
    margin-left: -675px;
  }
#tableMain_paginate{
    text-align: center;
  }
#tableMain_wrapper > div.row{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-box;
}
}
/* iPad Mini */
/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    #tableMain_length{
        float: right;
        padding-left: 64px;
        margin-right: -500px;
      }
    #tableMain_filter{
        margin-left: -465px;
      }
    #tableMain_paginate{
        text-align: center;
      }
    #tableMain_wrapper > div.row{
      display: inline-flex;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: -webkit-box;
    }
}
/* iPhone */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){

    html,body{
      width:100%!important;
      margin:0!important;
      padding:0!important;
      overflow-x:hidden!important;
    }
    .dataTable{
      /* margin-left: -20px; */
    }
    #tableMain{
      margin-left: -50px!important;

    }
    img{
      max-width: 100%;
    }
    img.headerLogo{
      margin-left: 2em;
    }
    .panel-body {
      /* padding: 15px!important; */
      /* padding-right:6px!important; */
    }
    #background{
      display:none;
    }
    #tableMain_length{
      float: right;
      margin-right: -668px;
      width: 62px;
    }
    #tableMain_filter{
      margin-left: -28px;
      width: 200px;
      margin-bottom: 1em;
    }
    #tableMain_paginate{
      text-align: center;
    }
    .navbar-brand{
      display: none;
    }

}
